<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.min.css" integrity="sha256-77qGXu2p8NpfcBpTjw4jsMeQnz0vyh74f5do0cWjQ/Q=" crossorigin="anonymous" />
        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
        </style>
    </head>

    <body>
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Grader</a>
                {% if not current_user or not current_user.is_authenticated %}
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('login.register') }}">Register</a></li>
                </ul>
        
                <ul id="nav-mobile" class="right">
                    <li><a href="{{ url_for('login.user_login') }}">Login</a></li>
                </ul>
                {% else %}
                <ul id="nav-mobile" class="right">
                        <li><a href="#">Hello, {{ current_user.username }}</a></li>
                </ul>
                <ul id="nav-mobile" class="right">
                        <li><a href="{{ url_for('login.logout') }}">Logout</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
        <div class="container">
                {% block body %}{% endblock %}
        </div>
    </body>
    
    {% block javascript %}{% endblock %}
</html>