{% extends "base.html" %}
{% block title %}Edit -- Grader{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <blockquote>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </blockquote>
    {% endif %}
{% endwith %}
<h2>Edit</h2>
<hr>
<div class="row">
    <form class="col s12" method='POST'>
        <div class="row">
            <div class="input-field s6">
                <input id="first" type="text" class="validate" name="first">
                <label for="first">First Name</label>
            </div>
            <div class="input-field s6">
                    <input id="last" type="text" class="validate" name="last">
                    <label for="last">Last Name</label>
            </div>
        </div>
        <div class="input-field row">
                <input id="email" type="email" class="validate" name="email">
                <label for="email">E-mail</label>
            </div>
        <button class="btn waves-effect waves-light" id="submit" type="submit">Submit</button>
    </form>
</div>
{% endblock %}