{% extends "base.html" %}
{% block title %}Index -- Grader{% endblock %}

{% block body %}
<h2>
    Python Grader
</h2>

<hr>

<blockquote>
    <h5>Warn:</h5>
    <ul>
        <li>- Gunakan nama file yang sama dengan apa yang diminta!</li>
        <li>- Apabila site tidak merespon, harap hubungi.</li>
        <li>- Waktu eksekusi program maksimal 5 detik!</li>
    </ul>
</blockquote>

<hr>

{% if current_user.is_authenticated %}
<div class="row">
    <form action="check" id="post-form" method="post" enctype="multipart/form-data">
        <div class="file-field input-field col s10">
            <div class="btn">
                <span>File</span>
                <input type="file" id="file" name="file" accept=".py">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </form>
    <button class="btn waves-effect waves-light col s2" id="submit" type="submit">Submit
    <i class="material-icons right">send</i>
    </button>
</div>
{% else %}
<p>Please login.</p>
{% endif %}

<hr>

<h5>Hasil:</h5>
<code id=output style=display:block;white-space:pre-wrap></code>
<hr>

<h2 id="api">API</h2>
<h3>/check</h3>
<p>Checks python file.</p>

<h4>Required info</h4>
<p>A python file uploaded with type <code>multipart/form-data</code> with the filename as the test case.</p>

<h4>Response</h4>
<p>A JSON containing result of python check.</p>

<pre><code class="json language-json">{
    'status' : 200,
    'message': 'OK'
}
</code></pre>

<h4>Exceptions</h4>
<pre><code class="json language-json">{
    'status' : 400,
    // String errors
    'err'    : "Please upload a file."
    'err'    : "Only Python."
    'err'    : "No test with that name."
    // Check error
    'err'    : {
        'expected': "1",   // Server's python output
        'output': "11+",   // Client's python output
        'testno': 1,       // Test number that the python script fails on
        'maxtest': 5,      // Number of test cases
        'input': "1"       // stdin
    }
}
</code></pre>
{% endblock %}
    
{% block script %}
<script>
    $("#submit").click(function(){
        codeblock = $("#output")
        codeblock.empty()
        M.toast({
            html: "Checking."
        })

        $.ajax({
            url: 'check',
            type: 'POST',
        
            data: new FormData($('#post-form')[0]),
        
            cache: false,
            contentType: false,
            processData: false,
    
            success: function(js) {
                
                if (js.status == 200) {
                    codeblock.html(js.message)
                } else if (js.err.expected) {
                    codeblock.html(`ERROR!\nAt test #${js.err.testno} out of ${js.err.maxtest}\nExpected: ${js.err.expected} \nGot: ${js.err.output}\n\nInput:${js.err.input}`)
                } else {
                    codeblock.html(js.err)
                }
                M.toast({
                    html: "Done!"
                })
            }
        })  
    })
</script>
{% endblock %}