{% extends "base.html" %}
{% block title %}Index -- Grader{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <blockquote>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </blockquote>
    {% endif %}
{% endwith %}
<h2>
    Welcome!
</h2>
<hr>
<p>This webapp is a simple problem and grading system. If you want to access the problem list, Login (or Register) and click on problem on the navigation bar.</p>
<p>Have fun!</p>
{% endblock %}