{% extends "base.html" %}
{% block title %}Index -- Grader{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <blockquote>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </blockquote>
    {% endif %}
{% endwith %}
<h2>
    Welcome!
</h2>
<hr>
<p>This webapp is a simple problem and grading system. If you want to access the problem list, Login (or Register) and click on problem on the navigation bar.</p>
<p>Have fun!</p>
{% endblock %}
    
{% block script %}
<script>
    $("#submit").click(function(){
        codeblock = $("#output")
        codeblock.empty()
        M.toast({
            html: "Checking."
        })

        $.ajax({
            url: 'check',
            type: 'POST',
        
            data: new FormData($('#post-form')[0]),
        
            cache: false,
            contentType: false,
            processData: false,
    
            success: function(js) {
                
                if (js.status == 200) {
                    codeblock.html(js.message)
                } else if (js.status == 406) {
                    codeblock.html(`Error in executing script:\n${js.stdout}`)
                } else if (js.err.expected) {
                    codeblock.html(`ERROR!\nAt test #${js.score} out of ${js.err.maxtest}\nExpected: ${js.err.expected} \nGot: ${js.err.output}\n\nInput:${js.err.input}`)
                } else {
                    codeblock.html(js.err)
                }
                M.toast({
                    html: "Done!"
                })
            }
        })  
    })
</script>
{% endblock %}