{% extends "base.html" %}
{% block title %}{{ problem.name }} -- Grader{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <blockquote>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </blockquote>
    {% endif %}
{% endwith %}

<h2>Problem - {{ problem.name }}</h2>
<hr>
<h4>Details</h4>
<p>File name: {{ problem.test_folder}}.py</p>
{% for line in problem.details.splitlines() %}
    {{line|markdown}}
{% endfor %}
<hr>
<h4>Sample Input</h4>
<p>
    {% for line in problem.sample_input.splitlines() %}
        {{line}}<br>
    {% endfor %}
</p>
<hr>
<h4>Sample Output</h4>
<p>
    {% for line in problem.sample_output.splitlines() %}
        {{line}}<br>
    {% endfor %}
</p>
<hr>
<hr>
<div class="row">
    <form action="check" id="post-form" method="post" enctype="multipart/form-data">
        <div class="file-field input-field col s10">
            <div class="btn">
                <span>File</span>
                <input type="file" id="file" name="file" accept=".py">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </form>
    <button class="btn waves-effect waves-light col s2" id="submit" type="submit">Submit
    <i class="material-icons right">send</i>
    </button>
</div>

<hr>

<h5>Result:</h5>
<code id=output style=display:block;white-space:pre-wrap></code>
<hr>

{% endblock %}
{% block script %}
<script>
    $("#submit").click(function(){
        codeblock = $("#output")
        codeblock.empty()
        M.toast({
            html: "Checking."
        })

        $.ajax({
            url: '../check',
            type: 'POST',
        
            data: new FormData($('#post-form')[0]),
        
            cache: false,
            contentType: false,
            processData: false,
    
            success: function(js) {
                
                if (js.status == 200) {
                    codeblock.html(js.message)
                } else if (js.status == 406) {
                    codeblock.html(`Error in executing script:\n${js.stdout}`)
                } else if (js.err.expected) {
                    codeblock.html(`ERROR!\nAt test #${js.score} out of ${js.err.maxtest}\nExpected: ${js.err.expected} \nGot: ${js.err.output}\n\nInput:${js.err.input}`)
                } else {
                    codeblock.html(js.err)
                }
                M.toast({
                    html: "Done!"
                })
            }
        })  
    })
</script>
{% endblock %}